.codetexo-hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 16px;
}

.codetexo-hero svg {
    width: -webkit-fill-available;
}

.codetexo-hero svg path:nth-child(1) {
    animation-duration: 3000ms;
    animation-name: fade-in;
}

.codetexo-hero svg path:nth-child(2) {
    animation-duration: 6000ms;
    animation-name: fade-in-two;
}

.codetexo-hero svg path:nth-child(3) {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear forwards;
}

.codetexo-hero-runway {
    background: transparent;
    border: none;
    position: absolute;
    bottom: 40px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    animation-duration: 8000ms;
    animation-name: fade-in-two;
}

.codetexo-hero-runway svg {
    display: block;
    height: 20px;
    margin: -8px;
    animation: 1600ms infinite color-change;
}

.codetexo-hero-runway svg:nth-child(2) {
    animation-delay: 400ms;
}

.codetexo-hero-runway svg:nth-child(3) {
    animation-delay: 800ms;
}

@keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes fade-in-two {
    0% { opacity: 0 }
    20% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes dash {
    100% { stroke-dashoffset: 0 }
}

@keyframes color-change {
    0% { fill:#000000 }
    100% { fill:#ffffff }
}